<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:编写接口的全类名，就是告诉要实现该配置文件是哪个接口的具体实现-->
<mapper namespace="com.masenlin.mybatis.demo01.mapper.PersonMapper">
    <!--
       select:表示这个操作是一个查询操作
       id表示的是要匹配的方法的名称
       resultType:表示返回值的类型，查询操作必须要包含返回值的类型
       #{属性名}：表示要传递的参数的名称
   -->
    <!-- 根据id获取人员信息 -->
    <select id="getPersonById" resultType="com.masenlin.mybatis.demo01.entity.Person">
        SELECT * FROM person WHERE id = #{id}
    </select>
    <!--
        增删改查操作不需要返回值，增删改返回的是影响的行数，mybatis会自动做判断。
        keyProperty="id" useGeneratedKeys="true" 表示返回新增的主键ID，可以通过person.getId()获取
    -->
    <!-- 新增人员信息 -->
    <insert id="insertPerson" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO person (name, age, sex)  VALUES (#{name}, #{age}, #{sex})
    </insert>
    <!-- 修改人员信息 -->
    <update id="updatePersonById">
        UPDATE person SET name = #{name}, age = #{age}, sex = #{sex} WHERE id = #{id}
    </update>
    <!-- 根据id删除人员信息 -->
    <delete id="deletePersonById">
        DELETE FROM person WHERE id = #{id}
    </delete>
</mapper>